   // config.js
   module.exports = {
    cloudflare: {
        apiKey: '25f8263bebf7d631aca3f0c3b23c8ca560a77', // ubah ini
        email: 'aginazharmhlutpi14@gmail.com', // ubah ini
        zoneId: 'f77aa1fdacada2a494d8cbe810bbb832' // ubah ini
    },
    admin: {
        username: 'agin', // ubah ini
        password: 'Mantap123!'  // ubah ini
    }
};
